<!DOCTYPE HTML>
<html lang="hu">
<head>
    <title>Webprog 2 Beadandó - <%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body class="is-preload">
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                <header id="header">
                    <a href="/" class="logo"><strong>WebProgramozás 2</strong> Beadandó</a>

                    <% if (typeof user !== 'undefined' && user) { %>
                        <ul class="icons">
                            <li><span style="font-weight: bold; padding-right: 1em;">Üdv, <%= user.nev %>!</span></li>
                        </ul>
                    <% } %>
                </header>