<%- include('partials/header') %>

<h2>Adminisztrációs Felület</h2>
<p style="color: red; font-weight: bold;">
    Üdvözlünk az admin oldalon! Ezt az oldalt csak 'admin' szerepkörrel lehet elérni.
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Praesent aliquam lacus sed quam finibus, sit amet commodo 
    nulla viverra.
</p>

<%- include('partials/footer') %>