<%- include('partials/header') %>

<section>
    <header class="main">
        <h1><%= title %></h1>
    </header>

    <p style="color: #f56a6a; font-weight: bold;">
        Üdvözlünk az admin oldalon! Ezt az oldalt csak 'admin' szerepkörrel lehet elérni.
    </p>
    <p>
        Itt jelenhetnének meg speciális adminisztrációs funkciók, például 
        felhasználók kezelése vagy globális beállítások módosítása.
    </p>

</section>

<%- include('partials/footer') %>