<%- include('partials/header') %>

<section id="banner">
    <div class="content">
        <header>
            <h1>Üdvözlünk a projektben!</h1>
            <p>A Főoldal</p>
        </header>
        <p>Ez az alap <code>index.ejs</code> oldal. Sikeresen beillesztettük a reszponzív "Editorial" témát. A menü a jobb oldali sávban található (vagy a hamburger ikon alatt, mobilon).</p>
    </div>
    </section>

<%- include('partials/footer') %>
