<%- include('partials/header') %>

<h2>Üdvözlünk a projektben! (Főoldal)</h2>
<p>Ez az alap <code>index.ejs</code> oldal. A szerver sikeresen fut.</p>
<p>Ez a tartalom a header és a footer közé töltődik be.</p>

<%- include('partials/footer') %>