<%- include('partials/header') %>

<section>
    <header class="main">
        <h1><%= title %></h1>
    </header>

    <% if (typeof error !== 'undefined' && error) { %>
        <p style="color: #f56a6a; font-weight: bold;"><%= error %></p>
    <% } %>

    <form action="/login" method="POST">
        <div class="row gtr-uniform">
            <div class="col-6 col-12-xsmall">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="col-6 col-12-xsmall">
                <label for="password">Jelszó:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="col-12">
                <ul class="actions">
                    <li><button type="submit" class="primary">Bejelentkezés</button></li>
                </ul>
            </div>
        </div>
    </form>

</section>

<%- include('partials/footer') %>

